
.nav-item a {
    color: darkcyan;
}

.nav-item a:hover {
    background-color: rgb(216, 235, 252);
    transition: 1s;
    border-radius: 5px;
}

.btn-secondary {
    background-color:darkcyan;
    border: 0;
}

.btn-outline-success {
    background-color: darkcyan;
    color: #fff;
}

.btn-outline-success:hover {
    background-color: darkturquoise;
}

#head-photo {
    width: 150%;
    height: auto;
}

#midden-photo {
    width: 50%;
    height: auto;
    margin-left: 150px;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

section h1 {
    text-transform: uppercase;
    font-weight: 900;
    color: darkslategrey;
    text-align: left;
    margin-bottom: 20px;
}

section p {
    font-size: 1rem;
    font-weight: 300;
}

button {
    max-width: 50%;
    font-weight: 600;
}

.info-section {
    margin-left: 20%;
}

footer {
    text-align: center;
    color: #000000;
    padding: 30px;
    background-color: lightgray;
    height: 15%;
}


